body {
    font-family: 'Roboto', "Arial Black", sans-serif;
}

.navbar {
    border-radius: 0 !important;

    position: fixed !important;
    width: 100%;

    z-index: 100;

    background-color: #51aa4c;
    margin-bottom: 0 !important;
}

.navbar ul {
    margin-top: 14px;
    padding-top: auto;
    padding-bottom: auto;
}

.navbar a {
    text-shadow: 0px 0px 8px black;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 14px 10px;
}

#logo{
    font-size: 2em;
}

#center{
    position: absolute;
    top: 50%; left: 70%;
    transform: translate(-50%,-50%);
}

.navbar a:hover {
    text-decoration: none;
}

.navbar li {
    display: inline;
}

.jumbotron {
    background-image:url('https://4.bp.blogspot.com/-mUrAOuDpwoI/VEPN1OEWbkI/AAAAAAABSDs/JSVf9DONVBo/s0/It%27s%2Bok%2Bto%2Beat%2Bpizza%2BWallpaper.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1em solid #51aa4c;
    margin-bottom: 0px !important;
}

.jumbotron .container {
    position: relative;
    top:100px;
}

.jumbotron h1 {
    text-shadow: 2px 2px 8px black;
    color: wheat !important;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    text-shadow: 2px 2px 8px black;
    font-size: 20px;
    color: #fff;
}

.jumbotron a {
    text-shadow: 2px 2px 8px black;
    font-size: 35px;
    color: #44aa49;
    font-family: "Arial Black", 'Roboto', sans-serif;;
}

.jumbotron a:hover {
    text-decoration: none;
}

.pizzas{
    background-color: #fffaf2;
    padding-top: 1em;
    padding-bottom: 2em;
    border-top: 1em solid #8cff93;
    border-bottom: 1em solid #8cff93;
}

.pizzainfo{
    padding-top: 1em;
}

.pizzainfo img{
    display: block;
	margin-left: auto;
	margin-right: auto;
}

.pizzainfo h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.2vw;
}

.pizzainfo h4{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.pizzainfo p{
    font-weight: bold;
    text-align: center;
}

.holder{
    max-width: 95%;
    background-image: url(resources/img/pizzabackground.png);
    background-size: cover;
    border-radius: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border: 5px solid #51aa4c;
}
.pizzainfo img{
    max-width: 100%;
}

.locatie{
    background-color: #d8ffd9;

    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1em solid #51aa4c;
}

.locatie img{
    border-radius: 5em;
}

.footer{
    text-shadow: 0px 0px 8px black;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #51aa4c;
}

.footer a{
    color: white;
}
.footer a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.reviews {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1em solid #60ba66;
  border-bottom: 1em solid #60ba66;
}

.review p{
  text-align: center;
  font-size: 1em;
}

.reviews h1{
  text-align: center;
  font-weight: bold;
}

.review h4 {
  text-align: center;
  font-weight: bold;
}

.reviewbox {
  max-width: 95%;
  background-color: white;
  background-size: cover;
  border-radius: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 5px solid #51aa4c;
  margin-top: 1em;
}

.rNaam {
  /*text-weight: bold;*/
  text-align: center;
}

.rPlaatsnaam {
  color: #cccccc;
}

.rTekst {
  font-style: italic;
}

.error-box {
    padding: 1em;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    
    display: table;
    
    color: #9e1c1c;
    font-weight: bold;
    
    background-color: #ffaaaa;
    border: 0.1em solid #ff7272;
    border-radius: 1em;
    box-shadow: 0px 0px 16px #ff6060;
    
    margin-bottom: 1em;
}

.notice-box {
    padding: 1em;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    
    display: table;
    
    color: #c17f11;
    font-weight: bold;
    
    background-color: #ffe8c1;
    border: 0.1em solid #f4b342;
    border-radius: 1em;
    box-shadow: 0px 0px 16px #ffcf7c;
    
    margin-bottom: 1em;
}

.succes-box {
    padding: 1em;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    
    display: table;
    
    color: #148a0b;
    font-weight: bold;
    
    background-color: #c5ffc1;
    border: 0.1em solid #52d849;
    border-radius: 1em;
    box-shadow: 0px 0px 16px #8cff84;
    
    margin-bottom: 1em;
}

.hide {
    display: none;
}

