body {
    font-family: "Arial Black";
}

.navbar {
    background-color: #51aa4c;
    margin-bottom: 0 !important;
}

.navbar ul {
    margin-top: 14px;
    padding-top: auto;
    padding-bottom: auto;
}

.navbar a {
    text-shadow: 0px 0px 8px black;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 14px 10px;
}

#logo{
    font-size: 2em;
}

#center{
    position: absolute;
    top: 50%; left: 70%;
    transform: translate(-50%,-50%);
}

.navbar a:hover {
    text-decoration: none;
}

.navbar li {
    display: inline;
}

.jumbotron {
    background-image:url('https://4.bp.blogspot.com/-mUrAOuDpwoI/VEPN1OEWbkI/AAAAAAABSDs/JSVf9DONVBo/s0/It%27s%2Bok%2Bto%2Beat%2Bpizza%2BWallpaper.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1em solid #51aa4c;
}

.jumbotron .container {
    position: relative;
    top:100px;
}

.jumbotron h1 {
    text-shadow: 2px 2px 8px black;
    color: wheat !important;
    font-size: 48px;  
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    text-shadow: 2px 2px 8px black;
    font-size: 20px;
    color: #fff;
}

.jumbotron a {
    text-shadow: 2px 2px 8px black;
    font-size: 35px;
    color: #44aa49;
    font-family: "Arial Black";
}

.jumbotron a:hover {
    text-decoration: none;
}


.pizzainfo{
    padding-top: 1em;
}

.pizzainfo h2{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.pizzainfo h4{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.holder{
    max-width: 95%;
    background-image: url(resources/img/pizzabackground.png);
    background-size: cover;
    border-radius: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border: 5px solid #51aa4c;
}

.pizzainfo img{
    max-width: 100%;
}
