.venster{
    padding-top: 8em;
}

h2 {
    margin: 0 !important;
}

h3 {
    margin: 0 !important;
}

h4 {
    margin: 0 !important;
}

.rechts {
    float: right;
    width: 50%;
}

.links {
    float: left;
    width: 50%;
}

.opties {
    border: 0.1em solid gray;
    padding: 1em;
    font-size: 1.2em;
}

.radiobuttons {
    font-weight: bold;
}

.adres {
    padding: 1em;
}

.adres p {
    margin: 0;
    font-weight: bold;
}

.adres input {
    padding: 0.5em;
    width: 20em !important;
    border: 0.1em solid #51aa4c;
    border-radius: 0.5em;
}

#fbutton {
    margin: 0 auto;
    display: block;
    height: 100%;
    font-weight: bold;
    padding: 1em;
    color: white;
    background-color: #3b9435;
    border: 0.2em solid #51aa4c;
    border-radius: 1em;
    padding: 1em;
    width: 100% !important;
    max-width: 25em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.bestellen {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    border: 0.15em solid #c9c9c9;
    box-shadow: 0px 0px 16px gray;
    border-radius: 1em;
    margin-bottom: 2em;
}

.bestelvenster {
    padding: 2em;
}

table {
    margin-top: 1.5em;
    width: 100%;
}

th {
    font-size: 1.2em;
    background: #51aa4c;
    color: white;
    padding: 1em !important; 
    border: 1px solid #CCC;
}

td {
    font-size: 1.5em;
    padding: 1em !important;
    border: 1px solid #CCC;
}

td img {
    display:block;
    margin:auto;
}

tr:nth-child(odd) td { 
    background: #FEFEFE; 
}

tr:nth-child(even) td { 
    background: #efeded;
}

.numeric {
    width: 3em;
    text-align: center;
}